In [1]:
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import csv

In [2]:
main = pd.read_excel( '/content/sample_data/Final_prediction.xlsx', engine='openpyxl')

In [3]:
main.columns

Index(['연도', '시도', '대계열', '중계열', '모집인원_학부_계', '지원자_전체_계', 'Gov_Spnsorship',
       'awareness', '학교_학과명', 'Total_fertility_rate', 'Net_Mover',
       'immigration', 'schoolage', 'competition_rate'],
      dtype='object')

In [4]:
main['latitude'] = 0
main['longitude'] = 0

In [5]:
main.columns

Index(['연도', '시도', '대계열', '중계열', '모집인원_학부_계', '지원자_전체_계', 'Gov_Spnsorship',
       'awareness', '학교_학과명', 'Total_fertility_rate', 'Net_Mover',
       'immigration', 'schoolage', 'competition_rate', 'latitude',
       'longitude'],
      dtype='object')

In [6]:
for i in range(len(main)):
    if(main.iat[i,1] == '서울'):
        main.iat[i,14] = 37.540705
        main.iat[i,15] = 126.956764
    if(main.iat[i,1] == '인천'):
        main.iat[i,14] = 37.469221
        main.iat[i,15] = 126.573234
    if(main.iat[i,1] == '광주'):
        main.iat[i,14] = 35.126033
        main.iat[i,15] = 126.831302
    if(main.iat[i,1] == '대구'):
        main.iat[i,14] = 35.798838
        main.iat[i,15] = 128.583052
    if(main.iat[i,1] == '울산'):
        main.iat[i,14] = 35.519301
        main.iat[i,15] = 129.239078
    if(main.iat[i,1] == '대전'):
        main.iat[i,14] = 36.321655
        main.iat[i,15] = 127.378953
    if(main.iat[i,1] == '부산'):
        main.iat[i,14] = 35.198362
        main.iat[i,15] = 129.053922
    if(main.iat[i,1] == '경기'):
        main.iat[i,14] = 37.567167
        main.iat[i,15] = 127.190292
    if(main.iat[i,1] == '강원'):
        main.iat[i,14] = 37.555837
        main.iat[i,15] = 128.209315
    if(main.iat[i,1] == '충남'):
        main.iat[i,14] = 36.557229
        main.iat[i,15] = 126.779757
    if(main.iat[i,1] == '충북'):
        main.iat[i,14] = 36.628503
        main.iat[i,15] = 127.929344
    if(main.iat[i,1] == '경북'):
        main.iat[i,14] = 36.248647
        main.iat[i,15] = 128.664734
    if(main.iat[i,1] == '경남'):
        main.iat[i,14] = 35.259787
        main.iat[i,15] = 128.664734
    if(main.iat[i,1] == '전북'):
        main.iat[i,14] = 35.716705
        main.iat[i,15] = 127.144185
    if(main.iat[i,1] == '전남'):
        main.iat[i,14] = 34.819400
        main.iat[i,15] = 126.893113
    if(main.iat[i,1] == '제주'):
        main.iat[i,14] = 33.364805
        main.iat[i,15] = 126.542671
    if(main.iat[i,1] == '세종'):
        main.iat[i,14] = 36.5040736
        main.iat[i,15] = 127.2494855

In [ ]:
main['latitude'].unique()

array([37.555837 , 35.798838 , 36.557229 , 35.716705 , 36.248647 ,
       34.8194   , 35.198362 , 37.540705 , 35.126033 , 33.364805 ,
       35.259787 , 36.321655 , 36.628503 , 37.567167 , 37.469221 ,
       36.5040736, 35.519301 ])

In [12]:
main['quantile'] = 0

In [11]:
print(main['competition_rate'].quantile(q=0.20), main['competition_rate'].quantile(q=0.40), main['competition_rate'].quantile(q=0.60), main['competition_rate'].quantile(q=0.80), main['competition_rate'].quantile(q=1))

4.75 5.653641025641026 6.682926829268292 8.375 172.0

In [13]:
for i in range(len(main)):
    if(main.iat[i,13] < 4.75):
        main.iat[i,16] = 1
    if(main.iat[i,13] >= 4.75 and main.iat[i,13] < 5.653641025641026):
        main.iat[i,16] = 2
    if(main.iat[i,13] >= 5.653641025641026 and main.iat[i,13] < 6.682926829268292):
        main.iat[i,16] = 3
    if(main.iat[i,13] >= 6.682926829268292 and main.iat[i,13] < 8.375):
        main.iat[i,16] = 4
    if(main.iat[i,13] >= 8.375):
        main.iat[i,16] = 5

In [14]:
main['quantile'].unique()

array([2, 1, 5, 3, 4])

In [15]:
main.to_excel('Final_prediction_latitude_longitude_quantile.xlsx', index = False)