In [1]:
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import csv

main data + Gov_Spnsorship

In [3]:
main_2015 = pd.read_excel( '/content/sample_data/2015년 고등 학교별X학과별 입학정원 지원 입학 학생 외국인학생 졸업 교원_221018y (1).xlsx', engine='openpyxl')
main_2015 = pd.read_excel( '/content/sample_data/2016년 고등 학교별X학과별 입학정원 지원 입학 학생 외국인학생 졸업 교원_221018y (1).xlsx', engine='openpyxl')
main_2015 = pd.read_excel( '/content/sample_data/2017년 고등 학교별X학과별 입학정원 지원 입학 학생 외국인학생 졸업 교원_221018y (1).xlsx', engine='openpyxl')
main_2015 = pd.read_excel( '/content/sample_data/2018년 고등 학교별X학과별 입학정원 지원 입학 학생 외국인학생 졸업 교원_221018y (1).xlsx', engine='openpyxl')
main_2015 = pd.read_excel( '/content/sample_data/2019년 고등 학교별X학과별 입학정원 지원 입학 학생 외국인학생 졸업 교원_221018y (1).xlsx', engine='openpyxl')
main_2015 = pd.read_excel( '/content/sample_data/2020년 고등 학교별X학과별 입학정원 지원 입학 학생 외국인학생 졸업 교원_221018y (1).xlsx', engine='openpyxl')
main_2015 = pd.read_excel( '/content/sample_data/2021년 고등 학교별X학과별 입학정원 지원 입학 학생 외국인학생 졸업 교원_221018y (1).xlsx', engine='openpyxl')

In [6]:
main_2015 = main_2015.groupby('학제').get_group("대학교")
main_2016 = main_2016.groupby('학제').get_group("대학교")
main_2017 = main_2017.groupby('학제').get_group("대학교")
main_2018 = main_2018.groupby('학제').get_group("대학교")
main_2019 = main_2019.groupby('학제').get_group("대학교")
main_2020 = main_2020.groupby('학제').get_group("대학교")
main_2021 = main_2021.groupby('학제').get_group("대학교")

In [ ]:
main_2015['Gov_Spnsorship'] = 0
main_2016['Gov_Spnsorship'] = 0
main_2017['Gov_Spnsorship'] = 0
main_2018['Gov_Spnsorship'] = 0
main_2019['Gov_Spnsorship'] = 0
main_2020['Gov_Spnsorship'] = 0
main_2021['Gov_Spnsorship'] = 0

In [8]:
main_2015.columns

Index(['연도', '학제', '대학원구분', '학교명', '학교상태', '본분교', '시도', '시군구', '설립', '주야구분',
       ...
       '졸업자_박사_여', '전임교원_계', '전임교원_남', '전임교원_여', '비전임교원_계', '비전임교원_남',
       '비전임교원_여', '시간강사_계', '시간강사_남', '시간강사_여'],
      dtype='object', length=126)

In [13]:
main_2015 = main_2015[['연도','학교명','시도','대계열','학과명','모집인원_학부_계','지원자_전체_계','입학자_전체_계']]
main_2016 = main_2016[['연도','학교명','시도','대계열','학과명','모집인원_학부_계','지원자_전체_계','입학자_전체_계']]
main_2017 = main_2017[['연도','학교명','시도','대계열','학과명','모집인원_학부_계','지원자_전체_계','입학자_전체_계']]
main_2018 = main_2018[['연도','학교명','시도','대계열','학과명','모집인원_학부_계','지원자_전체_계','입학자_전체_계']]
main_2019 = main_2019[['연도','학교명','시도','대계열','학과명','모집인원_학부_계','지원자_전체_계','입학자_전체_계']]
main_2020 = main_2020[['연도','학교명','시도','대계열','학과명','모집인원_학부_계','지원자_전체_계','입학자_전체_계']]
main_2021 = main_2021[['연도','학교명','시도','대계열','학과명','모집인원_학부_계','지원자_전체_계','입학자_전체_계']]

In [ ]:
df_2015 = pd.read_excel('/content/sample_data/2015_filtered.xlsx' , engine='openpyxl')
df_2016 = pd.read_excel('/content/sample_data/2016_filtered.xlsx' , engine='openpyxl')
df_2017 = pd.read_excel('/content/sample_data/2017_filtered.xlsx' , engine='openpyxl')
df_2018 = pd.read_excel('/content/sample_data/2018_filtered.xlsx' , engine='openpyxl')
df_2019 = pd.read_excel('/content/sample_data/2019_filtered.xlsx' , engine='openpyxl')
df_2020 = pd.read_excel('/content/sample_data/2020_filtered.xlsx' , engine='openpyxl')
df_2021 = pd.read_excel('/content/sample_data/2021_filtered.xlsx' , engine='openpyxl')

In [14]:
main_2015

         연도        학교명  시도    대계열       학과명  모집인원_학부_계  지원자_전체_계  입학자_전체_계
0      2015    강릉원주대학교  강원   인문계열    국어국문학과         38       238        37
1      2015    강릉원주대학교  강원   인문계열    중어중문학과         27       154        26
2      2015    강릉원주대학교  강원   인문계열    영어영문학과         38       193        36
3      2015    강릉원주대학교  강원   인문계열    독어독문학과         23       118        23
4      2015    강릉원주대학교  강원   인문계열       사학과         27       174        27
...     ...        ...  ..    ...       ...        ...       ...       ...
30514  2015  한국전통문화대학교  충남   인문계열     보존과학과         21       139        21
30515  2015  한국전통문화대학교  충남   공학계열    전통건축학과         21       126        21
30516  2015  한국전통문화대학교  충남   공학계열    전통조경학과         21       100        20
30517  2015  한국전통문화대학교  충남  예체능계열  전통미술공예학과         42       142        40
30518  2015  한국전통문화대학교  충남    NaN    소속학과없음          0         0         0

[11884 rows x 8 columns]

In [ ]:
main_ = main_2015
df_ = df_2015

for i in range(len(main_)):
    for j in range(len(df_)):
        if(main_.iat[i,1] == df_.iat[j,1]):
            main_.iat[i,8] = df_.iat[j,2]

main_2015_com = main_

In [ ]:
main_ = main_2016
df_ = df_2016

for i in range(len(main_)):
    for j in range(len(df_)):
        if(main_.iat[i,1] == df_.iat[j,1]):
            main_.iat[i,8] = df_.iat[j,2]

main_2016_com = main_

In [ ]:
main_ = main_2017
df_ = df_2017

for i in range(len(main_)):
    for j in range(len(df_)):
        if(main_.iat[i,1] == df_.iat[j,1]):
            main_.iat[i,8] = df_.iat[j,2]

main_2017_com = main_

In [ ]:
main_ = main_2018
df_ = df_2018

for i in range(len(main_)):
    for j in range(len(df_)):
        if(main_.iat[i,1] == df_.iat[j,1]):
            main_.iat[i,8] = df_.iat[j,2]

main_2018_com = main_

In [ ]:
main_ = main_2019
df_ = df_2019

for i in range(len(main_)):
    for j in range(len(df_)):
        if(main_.iat[i,1] == df_.iat[j,1]):
            main_.iat[i,8] = df_.iat[j,2]

main_2019_com = main_

In [ ]:
main_ = main_2020
df_ = df_2020

for i in range(len(main_)):
    for j in range(len(df_)):
        if(main_.iat[i,1] == df_.iat[j,1]):
            main_.iat[i,8] = df_.iat[j,2]

main_2020_com = main_

In [ ]:
main_ = main_2021
df_ = df_2021

for i in range(len(main_)):
    for j in range(len(df_)):
        if(main_.iat[i,1] == df_.iat[j,1]):
            main_.iat[i,8] = df_.iat[j,2]

main_2021_com = main_

In [ ]:
result = pd.concat([main_2015_com, main_2016_com, main_2017_com, main_2018_com, main_2019_com, main_2020_com, main_2021_com])

In [ ]:
result.head(50)

,연도,학교명,시도,대계열,학과명,모집인원_학부_계,지원자_전체_계,입학자_전체_계,Gov_Spnsorship
0,2015,강릉원주대학교,강원,인문계열,국어국문학과,38,238,37,1
1,2015,강릉원주대학교,강원,인문계열,중어중문학과,27,154,26,1
2,2015,강릉원주대학교,강원,인문계열,영어영문학과,38,193,36,1
3,2015,강릉원주대학교,강원,인문계열,독어독문학과,23,118,23,1
4,2015,강릉원주대학교,강원,인문계열,사학과,27,174,27,1
5,2015,강릉원주대학교,강원,인문계열,일본학과,29,135,29,1
6,2015,강릉원주대학교,강원,인문계열,철학과,28,157,28,1
7,2015,강릉원주대학교,강원,인문계열,기타모집단위,10,0,0,1
8,2015,강릉원주대학교,강원,사회계열,경영학과,43,213,42,1
9,2015,강릉원주대학교,강원,사회계열,관광경영학과,50,336,49,1
10,2015,강릉원주대학교,강원,사회계열,경제학과,40,196,39,1
11,2015,강릉원주대학교,강원,사회계열,회계학과,41,211,41,1
12,2015,강릉원주대학교,강원,사회계열,국제통상학과,42,182,41,1
13,2015,강릉원주대학교,강원,사회계열,무역학과,40,198,40,1
14,2015,강릉원주대학교,강원,사회계열,법학과,39,170,40,1
15,2015,강릉원주대학교,강원,사회계열,도시계획부동산학과,40,163,41,1
16,2015,강릉원주대학교,강원,사회계열,자치행정학과,40,216,39,1
17,2015,강릉원주대학교,강원,교육계열,교직과정부,0,0,0,1
18,2015,강릉원주대학교,강원,교육계열,유아교육과,0,0,0,1
19,2015,강릉원주대학교,강원,공학계열,토목공학과,43,215,43,1
20,2015,강릉원주대학교,강원,공학계열,정밀기계공학과,0,0,0,1
21,2015,강릉원주대학교,강원,공학계열,전자공학과,89,452,89,1
22,2015,강릉원주대학교,강원,공학계열,화학신소재학과,36,164,34,1
23,2015,강릉원주대학교,강원,공학계열,"신소재, 토목공학과군",0,0,0,1
24,2015,강릉원주대학교,강원,공학계열,신소재금속공학과,33,181,33,1
25,2015,강릉원주대학교,강원,공학계열,세라믹신소재공학과,34,207,34,1
26,2015,강릉원주대학교,강원,공학계열,정보전자공학부(컴퓨터공학전공),0,0,0,1
27,2015,강릉원주대학교,강원,공학계열,산업정보경영공학과,0,0,0,1
28,2015,강릉원주대학교,강원,자연계열,생명화학공학과,34,218,34,1
29,2015,강릉원주대학교,강원,자연계열,해양생명공학부,0,0,0,1
30,2015,강릉원주대학교,강원,자연계열,식물생명과학과,37,149,35,1
31,2015,강릉원주대학교,강원,자연계열,식품가공유통학과,32,127,32,1
32,2015,강릉원주대학교,강원,자연계열,해양분자생명공학과,33,168,32,1
33,2015,강릉원주대학교,강원,자연계열,생물학과,33,188,33,1
34,2015,강릉원주대학교,강원,자연계열,해양생물공학과,34,241,34,1
35,2015,강릉원주대학교,강원,자연계열,해양생명공학부(해양생물공학전공),0,0,0,1
36,2015,강릉원주대학교,강원,자연계열,해양자원육성학과,35,133,33,1
37,2015,강릉원주대학교,강원,자연계열,해양생명공학부(해양자원육성전공),0,0,0,1
38,2015,강릉원주대학교,강원,자연계열,환경응용화학공학과,0,0,0,1
39,2015,강릉원주대학교,강원,자연계열,환경조경학과,39,202,38,1
40,2015,강릉원주대학교,강원,자연계열,식품과학과,0,0,0,1
41,2015,강릉원주대학교,강원,자연계열,식품영양학과,32,167,32,1
42,2015,강릉원주대학교,강원,자연계열,해양식품공학과,37,142,36,1
43,2015,강릉원주대학교,강원,자연계열,수학과,33,147,32,1
44,2015,강릉원주대학교,강원,자연계열,정보통계학과,35,161,33,1
45,2015,강릉원주대학교,강원,자연계열,물리학과,29,102,29,1
46,2015,강릉원주대학교,강원,자연계열,대기환경과학과,36,184,36,1
47,2015,강릉원주대학교,강원,의약계열,치위생학과,31,126,31,1
48,2015,강릉원주대학교,강원,의약계열,치의예과,42,652,42,1
49,2015,강릉원주대학교,강원,의약계열,치의학과,0,0,0,1

In [ ]:
result.to_excel('merged_main_data.xlsx', index = False)

school-age population

In [ ]:
df = pd.read_excel('/content/sample_data/주요_연령계층별_추계인구_생산연령인구__고령인구_등____전국_20221106180904.xlsx' , engine='openpyxl')

/usr/local/lib/python3.7/dist-packages/openpyxl/styles/stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [ ]:
df.columns

Index(['가정별', '인구종류별', '2015', '2016', '2017', '2018', '2019', '2020', '2021',
       '2022'],
      dtype='object')

In [ ]:
temp = df.drop('가정별',axis=1)
temp[29:30].to_excel('school-age population.xlsx', index = False)